* {
    font-family: 'Homenaje', sans-serif;
    color: #582E07;
}

.navbar {
    z-index: 1000;
}
.navbar-brand {
  max-height: 60px; /* Elimina el relleno alrededor del logo */
}

.font-cormorant {
    font-family: 'Cormorant Unicase', serif;
}

.carousel-indicators button {
    width: 31px !important; 
    height: 31px !important;
    margin: 20px !important;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px #00000040;
  }
  
  .carousel-inner img {
    height: 60vh;
    object-fit: cover;
  }

  .carousel-indicators .active {
    background-color: #E1AA1C !important;
  }
  
  h1 {
    font-size: 64px !important;
    font-weight: 600 !important;
  }

  h2 {
    font-size: 32px !important;
  }

  p {
    font-size: 16px;
  }

  .navbar .nav-item .nav-link {
    font-size: 24px;
    margin-right: 100px;
}

.nav-link {
    color: #FBEEE3 !important;
}


  .custom-card {
    height: auto !important; /* Cambia esto al alto que desees */
    border: 4px solid #582E07 !important; /* Cambia "2px" al tamaño del borde que desees y "#ff0000" al color que desees */
    max-height: 500px;
  }

  .custom-button {
    background-color: #ff0000;
    border-color: #582E07 !important; /* Cambia esto al color que desees */
    position: relative; /* Cambia esto si deseas posicionar absolutamente el botón. Si no es necesario, puedes eliminar esta línea */
    top: 10px; /* Cambia esto para mover el botón hacia abajo */
  }

  .custom-button-up {
    background-color: #ff0000;
    border-color: #582E07 !important; /* Cambia esto al color que desees */
    position: relative; /* Cambia esto si deseas posicionar absolutamente el botón. Si no es necesario, puedes eliminar esta línea */
    top: -20px !important;  /* Cambia esto para mover el botón hacia abajo */
  }
  
  .card-title {
    background-color: #582E07;
    color: #FBEEE3 !important;
    padding-left: 20px;
    margin-left: -18px;
  }

  .card {
    margin: 0 -60px; /* Ajusta el valor según lo que necesites. */
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background-image: none !important; /* Elimina las flechas por defecto */
  }
  
  .carousel-control-next::before,
  .carousel-control-prev::before {
    content: "‹"; /* Agrega una nueva flecha (puedes usar cualquier otro símbolo o imagen que desees) */
    color: #582E07; /* Cambia el color aquí */
    font-size: 70px; /* Cambia el tamaño aquí */
    display: inline-block;
  }
  
  .carousel-control-next::before {
    content: "›"; /* Asegúrate de que la flecha "next" apunta en la dirección correcta */
  }
  
  .navbar.scrolled {
    background-color: #582E07 !important;
  }
  
  .navbar.scrolled .nav-link {
    color: #FBEEE3 !important;
  }

  .overlay {
    background-color: rgba(251, 238, 227, 0.7); /* ajusta la opacidad según tus necesidades */
    color: white;
    width: 50%; /* establece el ancho del overlay al 80% del contenedor padre */
    margin: 0 auto; /* centra el overlay horizontalmente en el contenedor padre */
    height: 200px;
  }
  
  .custom-button-ubicacion {
    background-color: #ff0000;
    border-color: #E1AA1C !important; /* Cambia esto al color que desees */
    position: relative; /* Cambia esto si deseas posicionar absolutamente el botón. Si no es necesario, puedes eliminar esta línea */
    top: 10px; /* Cambia esto para mover el botón hacia abajo */
    border-radius: 0% !important;
    font-style: bold;
  }

  .custom-button-contacto {
    background-color: #582E07 !important;
    border-color: #582E07 !important; /* Cambia esto al color que desees */
    position: relative; /* Cambia esto si deseas posicionar absolutamente el botón. Si no es necesario, puedes eliminar esta línea */
    top: 10px; /* Cambia esto para mover el botón hacia abajo */
    border-radius: 0% !important;
    font-style: bold;
    color: #FBEEE3 !important;
  }

  /* HORARIO DE ATENCION */
  .image-container {
    display: flex;
    width: 100%;
}

.image-left, .image-right {
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 50vh; /* Puedes ajustar este valor según tus necesidades */
    position: relative;
}

.image-left {
    background-image: url(../img/logo_fondo_1.jpg);
}

.image-right {
    background-image: url(../img/entrada_labeleria.png);
}

.title {
    color: #ffffff; /* Color del texto del título */
    position: absolute;
    top: 10%; /* Ajusta estas posiciones según tus necesidades */
    left: 10%;
    z-index: 1;
    background-color: #582E07;
    margin-left: -100px;
    padding-left: 80px;
    padding-right: 20px;
}

.schedule {
    background-color: rgba(255,255,255,0.6); /* Fondo blanco con opacidad */
    color: #000000; /* Color del texto */
    position: absolute;
    top: 30%; /* Ajusta estas posiciones según tus necesidades */
    left: 10%;
    padding: 20px;
    z-index: 1;
}




/* PRODUCTOS */
.nombre-productos {
  background-color: #E1AA1C !important
}

.border-bottom-custom {
  border-bottom: 2px solid #e1aa1c;
  width: 100%;
}


/* FOOTER */
footer {
  background-color: #582E07;
  height: 50vh;
  color: #FBEEE3;
}